{% extends 'core/base.html' %}

{% block content %}
<table id="products-table" class="table">
  <thead>
      <tr>
          <th>ID</th>
          <th>Название</th>
          <th>Цена</th>
          <th>Количество</th>
          <th>Категории</th>
      </tr>
  </thead>
  <tbody>
      {% for product in products %}
      <tr>
          <td>{{ product.id }}</td>
          <td>{{ product.title }}</td>
          <td>{{ product.cost }}</td>
          <td>{{ product.count }}</td>
          <td>{{ product.get_categories }}</td>
      </tr>
      {% endfor %}
  </tbody>
</table>

<script>
$(document).ready(function() {
   $('#products-table').DataTable();
});
</script>
{% endblock %}
